/*
 * MASTER.SCSS
 *
 * @Project : Project Name
 * @Author  : AuthorName [author.name@nvinteractive.com]
 *
 */


// Set the viewport to resize responsively (similar to viewport meta tag)
@viewport {
width: device-width;
zoom: 1;
}

// PLUGINS
@import '../../../node_modules/breakpoint-sass/stylesheets/_breakpoint.scss';

// SETTINGS
@import 'settings/settings.base';
@import 'settings/settings.breakpoints';
@import 'settings/settings.grid';

// TOOLS
@import 'tools/tools.functions.scss';

// GENERIC
@import 'generic/generic.reset';

// OBJECTS
@import 'objects/objects.grid';

// COMPONENTS
@import 'components/components.app';
@import 'components/components.navbar';
@import 'components/components.tabs';
@import 'components/components.card';
@import 'components/components.post';
@import 'components/components.buttons';

// UTILITIES
@import 'utilities/utilities.layout';


.overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(255, 255, 255, 0.75);
  }
  
  .modal {
    position: absolute;
    top: 40px;
    left: 200px;
    right: 200px;
    bottom: 40px;
    border: 1px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255);
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
    border-radius: 3px;
    box-shadow: 0 3px 8px 0 rgba(0,0,0,.24), 0 3px 12px 0 rgba(0,0,0,.12);
    min-width: 500px;
  }
  