.App{
font-family: Roboto, sans-serif;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


.form-group{
margin-bottom:10px;

    input,select,option{
    line-height:40px;
    border-radius:4px;
    padding:0 10px;
    }
}

.c-user,.c-cat{
background:#999;
color:#fff;
border-radius:10px;
font-size:10px;
padding:3px 8px;
display: inline-block;
transform: translateY(-3px);
}
.c-cat{
background:#00bcd4;
}


h1,h2,h3{
font-weight:500;
color:#333;
}

h1{
font-size:24px;
}


h2{
font-size:20px;
}

h3{
font-size:16px;
}

a,a h1, a h2, a h3{
color:#00bcd4;
}